{% extends 'myapp/base.html' %}
{% load humanize %}

{% block content %}

<div class="container">
    <h3>ข้อมูลการจัดส่ง</h3>
    <p>
        ชื่อผู้รับ: {{name}} <br>
    
        เบอร์โทรศัพท์: {{tel}} <br>
  
        ที่อยู่จัดส่ง: {{address}} <br>
     
        {% if shipping == 'ems' %}
            รูปแบบการส่ง: EMS
        {% else %}
            รูปแบบการส่ง: ลงทะเบียน
        {% endif %}
        <br>
 
        {% if payment == 'transfer' %}
            โอนเงินผ่านบัญชีธนาคาร
        {% else %}
            ชำระเงินปลายทาง
        {% endif %}
        <br>
        หมายเหตุ: {{other}} <br>
        <hr>

    </p>
</div>

        <div class="container">
            <h3>รวมยอด</h3>         
            <table class="table table-hover">
              <thead>
                <tr>
               
                  <th>รหัสสินค้า</th>
                  <th>ชื่อสินค้า</th>
                  <th style="text-align: right;">ราคา</th>
                  <th style="text-align: right;">จำนวน</th>
                  <th style="text-align: right;">รวมยอด</th>
                </tr>
              </thead>

              <tbody>
                {% for pd in mycart %}
                <tr>
                  <td>{{pd.productid}}</td>
                  <td>{{pd.productname}} </td>
                  <td style="text-align: right;">{{pd.price|intcomma}}</td>
                  <td style="text-align: right;">{{pd.quantity|intcomma}}</td>
                  <td style="text-align: right;">{{pd.total|intcomma}}</td>
                  
               
                </tr>
                {% endfor %}
                <tr style="background-color: rgb(223, 224, 224);">
                  <td><h4>Total</h4></td>
                  <td></td>
                  <td></td>
                  <td style="text-align: right;"><h4>{{count|intcomma}}</h4></td>
                  <td style="text-align: right;"><h4>{{total|intcomma}} บาท</h4></td>
                </tr>

              </tbody>
        
            </table>
  
   
          </div>

          <form action="" method="post">
              {% csrf_token %}
              <input type="hidden" id="name" name="name" value="{{name}}">
              <input type="hidden" id="tel" name="tel" value="{{tel}}">
              <input type="hidden" id="address" name="address" value="{{address}}">
              <input type="hidden" id="shipping" name="shipping" value="{{shipping}}">
              <input type="hidden" id="payment" name="payment" value="{{payment}}">
              <input type="hidden" id="other" name="other" value="{{other}}">
              <input type="hidden" id="page" name="page" value="confirm">

              <button type="submit" class="btn btn-primary">สั่งสินค้า</button>
          </form>


{% endblock content %}
