{% extends 'myapp/base.html' %}
{% load humanize %}

{% block content %}

{% if status == 'delete' %}
    <div class="alert alert-danger">
        <strong>ลบสินค้าเรียบร้อยแล้ว!!</strong>
    </div>
{% endif %}

        <div class="container">
            <h3>สินค้าในตะกร้า</h3>
            <p>รายการสินค้าในตะกร้าของลูกค้า</p>            
            <table class="table table-hover">
              <thead>
                <tr style="background-color: rgb(247, 247, 97);">
                  <th>เวลาสั่่งซื้อ</th>
                  <th>รหัสสินค้า</th>
                  <th>ชื่อสินค้า</th>
                  <th>ราคา</th>
                  <th>จำนวน</th>
                  <th>รวมยอด</th>
                  <th>ลบ</th>
                </tr>
              </thead>
              <tbody>
                {% for pd in mycart %}
                <tr>
                  <td>{{pd.stamp}}</td>
                  <td>{{pd.productid}}</td>
                  <td>{{pd.productname}} </td>
                  <td>{{pd.price|intcomma}}</td>
                  <td>{{pd.quantity|intcomma}}</td>
                  <td>{{pd.total|intcomma}}</td>
                  
                  <th>
                   <form action="" method="POST" id="form{{pd.productid}}" onsubmit="return confirm('ยันยันการลบใช่หรือไม่?');">
                        {% csrf_token %}
                        <input type="hidden" name="productid" value="{{pd.productid}}">
                        <button type="submit" form="form{{pd.productid}}" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg></button></td>
                    </form>
                  </th>

                </tr>
                {% endfor %}
                <tr style="background-color: rgb(223, 224, 224);">
                  <td><h4>Total</h4></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><h4>{{count|intcomma}}</h4></td>
                  <td><h4>{{total|intcomma}} บาท</h4></td>
                  <td></td>
                </tr>

              </tbody>
            </table>
            <div class="row">
                <a href="{% url 'mycartedit-page' %}" class="btn btn-warning">แก้ไขจำนวนสินค้า</a>
                <div style="padding: 5px;"></div>
                <a href="{% url 'checkout-page' %}" class="btn btn-success">Checkout</a>
            </div>
   
          </div>


{% endblock content %}
